<section class="hero has-text-centered is-fullheight">

    <p class="is-size-4 mx-6 mb-6 has-text-info is-fullheight">TechBlog Login Page</p>

    <div>
        <a  class="button mb-6 is-info is-large" href="/login">Login</a>
    </div>

</section>